.grpHeading{
	width:100%;
	height:50px;
	background:#339966;
	color:white;
	padding:10px 20px;
	font-size:20px;
}

.grp1{
	float:left;
	width:23%;
	height:140px;
	background:#f5f5f0;
	margin-left:11px;
	margin-top:5px;
	padding:20px 10px;
	border-radius:5px;
	 transition:all 1s;
}
.grp1:hover{
	animation:prime 0.5s 1;
	-webkit-filter: brightness(0.8);
	  filter: brightness(0.8);
}
@keyframes prime{from{-webkit-filter: brightness(1);;} to{-webkit-filter: brightness(0.8);}}

.banteshBox{
	float:left;
	width:50%;
	height:auto;
	background:white;
	border-radius:5px;
}

.gpBx{
	width:10%;
	height:310px;
	margin-left:0px;
	border-radius:5px;
}

.banteshBox1{
	width:100%;
	height:200px;
	background:transperent;
	border-radius:5px;
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.banteshBox2{
	width:100%;
	height:auto;
	background:white;
	border-radius:5px;
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
}


.pop-outer{
background-color: rgba(0,0,0,0.5);
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
}
.pop-inner{
background-color:#fff;
width:70%;
height:780px;
margin:9% auto;
overflow:scroll;
}

#LBtn{
	background:#cc3300;
	color:white;
	width:140px;
	height:40px;
	border-radius:0px;
	margin-left:15px;
	opacity:0.7
}
#LBtn:hover{
	opacity:1;
}

.avgrund-popup a{
	text-decoration:none;
}
.avgrund-popup u{
	text-decoration:none;
	cursor:pointer;
}