
.menu_box{
	margin:20px 0;
	position:fixed;
}
.menu{
	float:left;
	width:120px;
	height:120px;
	background:#339966;
	border-radius:50%;
	color:white;
	margin:10px;
	padding-top:20px;
	cursor:pointer;
}
.menu1{
	float:left;
	width:70px;
	height:70px;
	background:#339966;
	border-radius:50%;
	color:white;
	margin:10px;
	margin-top:-50px;
	margin-left:-8px;
	padding-top:17px;
	display:none;
}
.menu2{
	float:left;
	width:70px;
	height:70px;
	background:#339966;
	border-radius:50%;
	color:white;
	margin:10px;
	margin-left:70px;
	margin-bottom:30px;
	padding-top:17px;
	display:none;
}
.menu3{
	width:70px;
	height:70px;
	background:#339966;
	border-radius:50%;
	color:white;
	float:left;
	margin:10px;
	margin-top:40px;
	margin-left:70px;
	padding-top:17px;
	display:none;
}
.menu4{
	width:70px;
	height:70px;
	background:#339966;
	border-radius:50%;
	color:white;
	float:left;
	margin:10px;
	margin-left:-30px;
	margin-top:-18px;
	padding-top:17px;
	display:none;
}
.menu5{
	float:left;
	width:90px;
	height:90px;
	background:#339966;
	border-radius:50%;
	color:white;
	margin:10px;
	margin-top:-110px;
	margin-left:-50px;
	padding-top:30px;
	display:none;
}

.menu:hover{  background:#cc7a00;}
.menu1:hover{  background:#cc7a00;}
.menu2:hover{   background:#cc7a00;}
.menu3:hover{   background:#cc7a00;}
.menu4:hover{   background:#cc7a00;}
.menu5:hover{  background:#cc7a00;}


.common_box1{
	float:left;
	width:40%;
	height:500px;
	background:white;
	margin-left:220px;
	border-radius:5px;
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.welcome_box{
	width:100%;
	height:100px;
	background:#f5f5f0;
	border-radius:5px;
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.welcome_box  p{
	color:grey;
	font-size:40px;
	padding-top:20px;
}
.create_box1{
	float:left;
	margin:20px;
	width:174px;
	height:74px;
	border-radius:5px;
	border:12px solid  rgba(255, 89, 76, 0.8);
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
	background: #ffe6e6;
	cursor:pointer;
}

.create_box2{
	float:left;
	margin:20px;
	width:174px;
	height:74px;
	border-radius:5px;
	border:12px solid  rgba(255, 89, 76, 0.8);
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
	background: #ffe6e6;
	cursor:pointer;
}
.news_box{
	width:150px;
	height:50px;
	background: #ff8080;
	border:1px dashed silver;
	-ms-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
    transform: rotate(20deg);
	 transition:all 0.4s;	
}
.news_box:hover{
	-ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
}

.event_box{
	width:150px;
	height:50px;
	background: #ff8080;
	border:1px dashed silver;
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
	 transition:all 0.4s;	
 
}
.event_box:hover{
	-ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
}

.create_box1 p {
	font-size:24px;
	padding-top:5px;
	color:white;
}
.create_box2 p {
	font-size:24px;
	padding-top:5px;
	color:white;
}


.common_box2{
	float:left;
	width:40%;
	height:500px;
	background:#f5f5f0;
	margin-left:20px;
	border-radius:5px;
	box-shadow:0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.view_section{
	width:100%;
	height:600px;
	background:white;
	margin:50px 0;
}

